 <link rel="stylesheet" href="~/css/Perfil.css">

 <h1>Tela Perfil - DevConnect</h1>
    <header id="cabecalho-perfil">

        <header id="cabecalho">

            <nav>
                <a id="Logo-desktop" href="./feed.html">
                    <img src="../images/logo-Dev-m.svg" alt="Logo da empresa DevConnect">
                </a>

                <a id="Logo-mobile" href="./feed.html">
                    <img src="../images/logo-Dev-p.svg" alt="Logo da empresa DevConnect">
                </a>

                <div class="cabecalho-acoes">

                    <a href="./feed.html">
                        <img src="../images/icone-coracao-preto.svg" alt="icone da empresa DevConnect">
                    </a>

                    <a href="./feed.html">
                        <img src="../images/icone-casa-preto.svg" alt="icone da empresa DevConnect">
                    </a>


                </div>
            </nav>
        </header>
        <main>
            <div class="container-perfil">

                <section id="informacoes-perfil">

                    <div id="dados-perfil">

                        <div id="secao-perfil">
                            <div class="descricao-dakota">
                                <a href=""><img id="foto-perfil-2" src="../images/foto-perfil-Dev.svg"
                                        alt="foto-perfil"></a>
                                <span>
                                    Atriz | Modelo Profissonal
                                </span>
                            </div>


                            <div class="numeros-perfil">
                                <span>Dakota_.john</span>

                                <div id="publi-seguidores-seguindo">

                                    <a href="">1 publicacao</a>
                                    <a href="">2,457 mil seguindo</a>
                                    <a href="">6,5 mil seguidores</a>
                                </div>

                                <div id="editar-dados-sair">
                                    <span>Dakota Jonhson</span>
                                    <a href="">Editar perfil</a>
                                    <a href="">Sair</a>
                                </div>

                            </div>

                        </div>



                    </div>

                    <a href="" alt=""><img src="../images/icone-galeria-preto.svg" alt="">Publições</a>

                </section>

                <section id="publicacoes">

                    <article class="card-publi">

                        <header>

                            <a href="#"><img id="foto-perfil" src="../images/foto-perfil-Dev.svg"
                                    alt=""><span>Dakota_.Jonhson</span></a>

                        </header>

                        <figure>

                            <img class="foto-publi" src="../images/dj3-dev.webp" alt="">


                            <figcaption class="descricao-publi">

                                Dakota_.john

                                <p>Apresentção de DEV_SEDUC_Moura.</p>

                            </figcaption>

                            <div class="interacoes-publicacao">

                                <button>
                                    <img src="../images/icone-coracao-preto.svg" alt="">
                                </button>

                                <button>
                                    <img src="../images/icone-comentario-preto.svg" alt="">
                                </button>

                                <span>3.496 curtidas</span>

                            </div>

                        </figure>

                        <button id="ver-comentarios" type="button">Ver todos os comentários...</button>

                    </article>

                </section>

            </div>
        </main>