<h1>Pagina Quem Somos</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita 
saepe maiores repudiandae quos molestias a aliquam aspernatur atque rem quasi enim, 
doloribus, quod debitis eveniet eius fugiat, blanditiis modi sint.</p>

<a asp-controller="Home" asp-action="Index">Voltar pra Home</a>