main {
    width: 100%;
    min-height: 100vh;
    /*Altura da janela do meu dispositivo*/
    display: flex;
    align-items: center;
    /*alinha no sentido ao contrario do flex*/
    justify-content: center;
    /*alinha no sentido do flex*/
}

main>div {
    width: 100%;
    /* height: 500px; */
     display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center; 
    /* background-color: aqua; */
    gap: 25px;


}

/* formulario-cadastro */
#formulario-cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3%;
    gap: 15px;
}

.estilo-formulario {
    border: var(--borda);
    width: 100%;
    max-width: 340px;
    /* background-color: var(--cor-cinza-claro1); */
}

#formulario-cadastro>div {
    width: 100%;
    max-width: 340px;

}

#formulario-cadastro>div>label {
    font-size: var(--tamanho-fonte-sm);
    color: var(--cor-cinza-claro1);
    font-weight: 600;
    /*aumenta ou diminui a esper*/
    padding-bottom: 4px;
}

.estrutura-cadastro-botao {
    font-size: var(--tamanho-fonte-sm);
    color: #ffffff;
    font-weight: 600;
    /*aumenta ou diminui a esper*/
    padding-bottom: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 100%;
    background-color: var(--cor-azul);
    border: none;

}

#formulario-cadastro>p {
    text-align: center;
    color: var(--cor-cinza-claro1);
}

#login{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--cor-cinza-claro1);
}