main{
    /* background-color: var(--cor-cinza-claro2); */
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

/*.secao-story > section{
    background-color: aquamarine;
    width: 70%;
    height: 700px;
    display: flex;
    justify-content: center;
}*/

.container-flex-publi{
    /* background-color: var(--cor-cinza-claro1); */
    width: 90%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 20px;
}

#storys{
    background-color: white;
   /* width: 100%; */
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-between ;
    overflow-x: scroll;

}

#storys::-webkit-scrollbar{
    width: 0;
}

.card-story{
    width: 90%;
    max-width: 100px;
    /* background-color: coral; */
    display: flex;
    margin-left: 15px;
}

.card-story > a{
    /* background-color:darkgoldenrod; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 10px;
    text-decoration: none;
}

.card-story > a > img{
    border-radius: 50%;
    width: 80px;
    height: 80px;
    object-fit: cover;
    object-position: center;
}

.card-story > a >span{
    color: var(--cor-cinza-claro2);
    font-size: var(--tamanho-fonte-sm);
    text-transform: lowercase;
    color: black;
}

/* secao criar publi */
#cadastro-publi{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 3%;
}

#cadasntro-publi > h2{
    font-size: var(--tamanho-fonte-lg);
    color: var(--cor-cinza-claro2);
    font-weight: 800;
    padding: 5px;
}

#cadastro-publi > form{
    /* background-color: aqua; */
    width: 100%;
}
#cadastro-publi > form > textarea{
    width: 100%;
    height: 80px;
    background-color: var(--cor-cinza-claro2);
    resize: none;
    padding: 10px;
    color: var(--cor-preto);
    font-size: var(--tamanho-fonte-sm);
    border: none;
}

#cadastro-publi > form > textarea::placeholder{
    color: var(--cor-cinza-escuro);
}

.formulario-botao-azul{
    background-color: var(--cor-azul1);
    border-radius: var(--borda-arredondada);/*Arredonda os cantos dos elementos*/
    border: none; /*Removendo a borda*/
    height: 35px;
    width: 20% !important;
    color: var(--cor-branco);
    font-size: var(--cor-cinza-claro1);
    margin-top: 18px;
}

.upload{
    display: none;
}

#botao-upload{
    display: inline-block;
    background-color: var(--cor-cinza-escuro);
    border-radius:var(--borda-arredondada) ;
    border: none;
    width: 100% !important;
    min-height: 35px;
    text-align: center;
    padding: 10px;
    margin-top: 18px;
    height: 35px;
    color: #484848;
}

#botoes-publi{
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 15px;
    flex-wrap: wrap;
}
#publicacoes{
    /* background-color: white; */
    height: 600px;
    width: 100%;
}
.card-publi{
    width: 100%;
    background-color: white;
}

.card-publi > header{
    padding: 2%;
    display: flex;
}

.card-publi > header > a{
    width: 100%;
    max-width: 150px;
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: var(--cor-preto);
}

.card-publi > header > a > span{
    color: var(--cor-preto);
    font-size: var(--tamanho-fonte-sm);
    text-transform: lowercase;
}

.card-publi > figure{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.foto-publi{
    width: 100%;
    object-fit: cover;
    object-position: center;
    height: 400px;
}

.descricao-publicacao{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: var(--tamanho-fonte-sm);
    font-weight: 500;
    padding-left: 25px; 
    order: 2;

}

.descricao-publicacao > p{
    font-size: var(--tamanho-fonte-sm);
    width: 100%;
    font-weight: 400;
}

.interacoes-publicacao{
    /* background-color: ; */
    width: 125px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    order: 1;
    margin: 15px 3%;
}

.interacoes-publicacao > button{
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.interacoes-publicacao > button > img{

}

.interacoes-publicacao > button > span{
    font-size: var(--tamanho-fonte-sm);
    font-weight: 700;
    color: var(--cor-preto);
    margin: 0px 3%;

}   

.card-publi > button{
    margin: 15px 2%;
    background-color: transparent;
    border: none;

    font-size: var(--tamanho-fonte-sm);
    font-weight: 400;
    color: #999999;
}