@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:ital,wght@0,600;1,600&family=Sofia&display=swap');

:root {
--cor-preto: #000000;
--cor-azul1: #0461BE;
--cor-azul: #0461BE;
--cor-branco: #ffffff;
--cor-cinza: #484848;
--cor-cinza-claro1: #7f7f7f;
--cor-cinza-claro2: #D9D9D9;
--cor-cinza-escuro: #999999;

--borda: 0px solid var(--cor-cinza-claro1);    
--borda-arredondada: 2px;

--tamanho-fonte-lg: 20px;
--tamanho-fonte-md: 16px;
--tamanho-fonte-sm: 14px;

}

/* SELETOR GLOBAL */
* {
font-family: "Radio Canada", sans-serif;
padding: 0;
margin: 0;
box-sizing: border-box; /* o valor ttal do tamanho do elemento conta tanto com espacos interno/externo e as brdas */

}

body{
background-color: var(--cor-cinza-claro2);
}

h1{
position: absolute;
z-index: -1;
opacity: 0;;
}

/* FORMULARIO */
.estilo-formulario{
 width: 100%;
 background-color: var(--cor-branco);
}

input{
width: 100%;
height: 25px;
border: var(--borda);
background-color: var(--cor-cinza-claro2);
}

.formulario-botao-azul{
 background-color: var(--cor-azul1);
 border-radius: var(--borda-arredondada);/*Arredonda os cantos dos elementos*/
 border: none; /*Removendo a borda*/
 height: 25px;
 color: var(--cor-branco);
 font-size: var(--cor-cinza-claro1);
 margin-top: 18px;
}

#campo-upload{
 display: none;

}

#texto-upload{
 display: inline-block;
 background-color: var(--cor-cinza-claro2);
 color: var(--cor-cinza-claro1) !important;
 width: 100%;
 /* height: 25px; */
 padding: 5px;
 text-align: center;
}

/* Cabecalho*/
#cabecalho{
width: 100vw; /*100% da janela de vusualizacao*/
height: 80px;
background-color: var(--cor-branco);
display: flex;
justify-content: center;
align-items: center;
}

#cabecalho > nav{
/*background-color: blueviolet;*/
width: 85%;
max-width: 1440px;
height: 100%;
display: flex;
justify-content: space-between;
align-items: center;
}

#Logo-mobile{
   display: none;
}

.cabecalho-acoes{
  /* background-color: chartreuse;*/
   display: flex;
   align-items: center;
   gap: 20px;
}

.cabecalho-acoes > a{
   display: flex;
   align-items: center;
}


.foto-perfil{
   width: 30px;
   height: 30px;
   object-fit: cover;
   object-position: center;
   border-radius: 50%;
}

/* RESPONSIVO */
@media only screen and (max-width: 485px){
   #Logo-mobile{
       display: initial;
   }

   #Logo-desktop{
       display: none;
    }

    #foto-perfil{
       width: 30px;
       height: 30px;
    }

    .descricao-publi{
       flex-wrap: wrap;
    }

    #secao-perfil{
       flex-wrap: wrap;
    }

    #informacoes-perfil{
       flex-wrap: wrap;
    }
}