    main{
        /* background-color: var(--cor-cinza-claro2); */
        min-height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 20px;
    }

    .container-perfil{
        /* background-color: var(--cor-cinza-claro1); */
        width: 100%;
        max-width: 900px;
        display: flex;
        /* justify-content: center; */
        /* align-items: center; */
        flex-direction: column;
        gap: 15px;
        /* padding-top: 20px; */
    }   

    #informacoes-perfil{
        /* background-color: white; */
        /* width: 100%; */
        display: flex;
        flex-direction: column;
        justify-content: center ;
        align-items: center;
        gap: 20px;
        flex-wrap: wrap;
        /* padding: 20px; */
        /* height: 700px; */
    }

    #informacoes-perfil> a{
        text-decoration: none;
        display: flex;
        align-items: center;
        color: var(--cor-preto);
        text-transform: uppercase;
        gap: 5px;
        flex-direction: column;
    } 

    #dados-perfil{
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 20px;
        border-bottom: 1px solid var(--cor-cinza);
        flex-wrap: wrap;
    }

    #secao-perfil{
        display: flex;
        gap: 40px;

    }

    #secao-perfil > a > img{
        display: flex;
        margin-top: 20px;
    }

    .numeros-perfil{
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 10px;
    }

    .numeros-perfil > span{
        font-size: var(--tamanho-fonte-lg);
        font-weight: 600;
    }

    #publi-seguidores-seguindo{
        display: flex;
        gap: 30px;
    }
    
    #publi-seguidores-seguindo > a{
        text-decoration: none;
        color: var(--cor-preto);
    }

    #editar-dados-sair{
        display: flex;
        gap: 33px;
    }

    #editar-dados-sair > a{
        text-decoration: none;
        color: var(--cor-azul1);
        padding-right: 19px;
    }

    #editar-dados-sair > span{
        color: var(--cor-preto);
        /* font-size: var(--tamanho-fonte-sm); */
        font-weight: 600;
    }

    #foto-perfil-2{
        width: 80px;
        height: 80px;
        object-fit: cover;
        object-position: center;
        border-radius: 50%;

    }

    #publicacoes{
        width: 100%;
    }

    .card-publi{
        width: 100% !important;
        background-color: var(--cor-branco);
        padding-bottom: 15px;
        border-radius: var(--borda-arredondada);
    }
    
    .card-publi > header{
        padding: 20px;
        display: flex;
    }
    
    .card-publi > header > a{
        width: 100%;
        max-width: 150px;
        display: flex;
        align-items: center;
        gap: 20px;
        text-decoration: none;
    }
    
    .card-publi > header > a > span{
        color: var(--cor-preto);
        font-size: var(--tamanho-fonte-P);
        text-transform: lowercase;
        font-weight: bold;
    }
    
    .card-publi > figure{
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        padding-bottom: 15px;
    }
    
    .foto-publi{
        width: 100%;
        height: 400px;
        object-fit: cover;
        object-position: top;
        padding-bottom: 5px;
    }
    
    .descricao-publi{
        display: flex;
        align-items: flex-start;
        order: 3;
        padding-left: 20px;
        gap: 5px;
        font-weight: bold;
    }
    
    .descricao-publi > p{
        font-weight: normal;
    }
    
    .interacoes-publicacao{
        width: 150px;
        display: flex;
        flex-wrap: wrap;
        column-gap: 20px;
        padding-left: 20px;
        order: 2;
    }
    
    .interacoes-publicacao > button{
        border: none;
        background-color: transparent;
        cursor: pointer;
    }
    
    .interacoes-publicacao> span{
        font-size: var(--tamanho-fonte-M);
        font-weight: bold;
        color: var(--cor-preto);
    }
    
    #ver-comentarios{
        margin-left: 20px;
        border: none;
        background-color: transparent;
        color: var(--cor-cinza-escuro);
        font-size: var(--tamanho-fonte-P);
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    .descricao-dakota{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    
    

    /* .foto-perfil{
        width: 100px;
        height: 100px;
    }

    .container-perfil >section> div{
        display: flex;
        gap: 40px;
        width: 60%;
        flex-wrap: wrap;
        max-height: 200px;
        justify-content: space-between; 

    }

.container-perfil>section{

    gap: 30px;


}

    .container-perfil > section > div > div{
        display: flex;
        width: 100%;
        justify-content: center;
        gap: 30px;
        justify-content: space-between;
    }

    .numeros-perfil > div > a{
        color: var(--cor-preto);
        text-decoration: none;
        display: flex;
    }

    .container-perfil > section > div > h2{
        width: 100%;
        display: flex;

    }

    .container-perfil > section > div > div > {
        display: flex;
        width: 100%;
        margin-top: 20px;
        justify-content: center;
    }
    */